.partial-directory
  width 200px
  height 100%
  .MuiSvgIcon-root-28
    margin-right 10px
  .MuiListItemText-root-35
    padding-left 0
  .inset
    .MuiButtonBase-root-24
      padding-left 2.4rem
      .MuiTypography-root-41
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
