html, body, button, input, select, textarea
  font 14px/24px -apple-system, BlinkMacSystemFont,STHeiti, "Helvetica Neue", Helvetica,Arial, "PingFang SC", "Microsoft Yahei", sans-serif
  font-feature-settings "liga", "kern"
  text-rendering optimizelegibility
  // mac os 下进行抗锯齿优化，字体会显得更瘦小一点儿
  -webkit-font-smoothing antialiased
  color #444
input
  outline none
textarea
  resize vertical
  outline none