$navigationBgColor = #2f3241
// 导航栏
.partial.app-navigation
  background $navigationBgColor
  height 4rem
  // 因为干掉了系统的标题栏，所以得让导航栏可以模拟的像标题栏一样可以拖动
  // 注意 mac os 10.12.1 中，如果打开开发者工具，则就不能拖动了，这应该是个 bug
  -webkit-user-select: none;
  -webkit-app-region: drag;
  clear both
  padding 1rem 1rem 0
  .no-drag {
    // drag 是继承属性
    -webkit-app-region: no-drag;
  }
  .app-nav-txt
    // 这个是留给窗口自带的放大缩小按钮的
    margin-top 1rem
    text-align center
    color #fafafa
  .account
    float right
    padding-top .5rem
    color #fff
    .ant-btn
      background-color $navigationBgColor
      border-color $navigationBgColor
    .split-line
      width 1px
      height 1rem
      background-color #ccc
      display inline-block
      vertical-align middle